################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OptimizelyModules.CMS/bin/Debug/net8.0
/OptimizelyModules.CMS/package-lock.json
/OptimizelyModules.CMS/.vs/OptiModule.CMS
/OptimizelyModules.CMS/node_modules
/OptimizelyModules.CMS/obj
/OptimizelyModules.CMS/App_Data/OptiModule.CMS.mdf
/OptimizelyModules.CMS/App_Data/OptiModule.CMS_log.ldf
