@model OptimizelyModules.CMS.Models.ViewModels.PageViewModel<OptimizelyModules.CMS.Models.Pages.LandingPage>

<div class="campaign-wrapper">
    <div epi-property="@Model.CurrentPage.MainContentArea" class="row" />
</div>
